.tui-island_size_m {
  border-radius: 8px;
}

.danger-text {
  color: var(--tui-negative);
}

.container {
  margin-bottom: 2rem;
}

.tui-island .tui-island__footer-button {
  border-end-start-radius: 8px;
  border-end-end-radius: 8px;
}
.tui-island .island-footer {
  display: block;
  width: calc(100% + 1.875rem);
  margin: 1rem calc(-1rem + 1px) calc(-1rem + 1px);
  border-top: 1px solid var(--tui-base-03);
  border-radius: 0 0 var(--tui-radius-xl) var(--tui-radius-xl);
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
  }
}

.danger.tui-island:not(.tui-island_hoverable):before {
  border: 1px solid var(--tui-accent);
}
